# Bluetooth
r_dir_file(bluetooth, firmware_file)

# Consumerir
type lirc_device, file_type;
allow system_server lirc_device:chr_file rw_file_perms;
allow ueventd lirc_device:chr_file { create setattr };

# IMEI and MEID
type deviceid_prop, property_type;

# Kernel
allow kernel { platform_app radio shell system_app untrusted_app }:process setsched;

# MMBN daemon
type mmbn-daemon, domain;
type mmbn-daemon_exec, exec_type, file_type;
init_daemon_domain(mmbn-daemon)
qmux_socket(mmbn-daemon)
diag_use(mmbn-daemon)
allow mmbn-daemon firmware_file:dir r_dir_perms;
allow mmbn-daemon firmware_file:file r_file_perms;
allow mmbn-daemon self:socket create_socket_perms;
allowxperm mmbn-daemon self:socket ioctl msm_sock_ipc_ioctls;

# HALs
init_daemon_domain(hal_power_stats_default)
hal_server_domain(hal_power_stats_default, hal_power)
init_daemon_domain(hal_ir_default)
hal_server_domain(hal_ir_default, hal_ir)
init_daemon_domain(hal_light_default)
hal_server_domain(hal_light_default, hal_light)
type proc_touchpanel, fs_type, proc_type;

# Readmac
type readmac, domain;
type readmac_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(readmac)
qmux_socket(readmac)
diag_use(readmac)
allow readmac self:capability fsetid;
allow readmac self:socket create_socket_perms;
allow readmac wifi_data_file:dir create_dir_perms;
allow readmac wifi_data_file:file create_file_perms;
allowxperm readmac self:socket ioctl msm_sock_ipc_ioctls;

# TimeKeep
type timekeep_app, domain;
type timekeep_exec, exec_type, vendor_file_type, file_type;
type timekeep, domain;
type vendor_timekeep_prop, property_type;
app_domain(timekeep_app)
init_daemon_domain(timekeep)
set_prop(timekeep_app, vendor_timekeep_prop)
set_prop(timekeep, vendor_timekeep_prop)
allow timekeep self:capability sys_time;
allow timekeep sysfs_rtc:{ file lnk_file } r_file_perms;
allow timekeep sysfs_rtc:dir search;
allow timekeep time_data_file:dir rw_dir_perms;
allow timekeep time_data_file:file create_file_perms;
allow timekeep_app activity_service:service_manager find;
allow timekeep_app sysfs_rtc:{ file lnk_file } r_file_perms;
allow timekeep_app sysfs_rtc:dir { search };
allow timekeep_app time_data_file:dir create_dir_perms;
allow timekeep_app time_data_file:file create_file_perms;
dontaudit timekeep_app app_data_file:dir { getattr search };

### audit2allow
#============= bluetooth ==============
allow bluetooth mnt_vendor_file:dir search;

#============= bootanim ==============
allow bootanim userspace_reboot_exported_prop:file { read getattr open };

#============= cnd ==============
allow cnd self:capability { chown dac_override dac_read_search fsetid };

#============= crash_dump ==============
allow crash_dump init:process ptrace;
allow crash_dump vold:process ptrace;

#============= fidodaemon ==============
allow fidodaemon servicemanager:binder call;
allow fidodaemon servicemanager:binder transfer;

#============= hal_graphics_composer_default ==============
allow hal_graphics_composer_default mnt_vendor_file:dir search;
allow hal_graphics_composer_default persist_file:lnk_file read;

#============= hal_health_default ==============
allow hal_health_default sysfs:file { getattr open read };

#============= hal_lineage_touch_default ==============
allow hal_lineage_touch_default proc_touchpanel:dir search;
allow hal_lineage_touch_default proc_touchpanel:file rw_file_perms;
allow hal_lineage_touch_default sysfs:file { open write getattr };

#============= hal_light_default ==============
allow hal_light_default sysfs:file { open write getattr };

#============= hal_power_default ==============
allow hal_power_default sysfs:file write;
allow hal_power_default sysfs:file open;

#============= hal_power_stats_default ==============
allow hal_power_stats_default sysfs:dir { open read getattr };
allow hal_power_stats_default sysfs:file { open read getattr };

#============= hal_wifi_default ==============
allow hal_wifi_default proc_net:file write;
allow hal_wifi_default vendor_tombstone_data_file:dir { open read search };

#============= init ==============
allow init hwservicemanager:binder { call transfer };
allow init mnt_vendor_file:dir mounton;
allow init proc:file setattr;
allow init self:socket { create ioctl read };
allow init sysfs:file { open read setattr };
allow init sysfs_rtc:file { open read };
allow init vendor_file:file execute_no_trans;
allow init qmuxd:unix_stream_socket connectto;
allow init qmuxd_socket:sock_file write;
allow init self:socket write;
allow init sysfs:file write;
allow init sysfs_graphics:file { open write };

#============= mediaserver ==============
allow mediaserver camera_data_file:dir search;
allow mediaserver sensorservice_service:service_manager find;

#============= mm-qcamerad ==============
allow mm-qcamerad camera_prop:file { read getattr open };

#============= mmbn-daemon ==============
allow mmbn-daemon self:capability { dac_override dac_read_search };
allow mmbn-daemon vendor_file:file entrypoint;
allow mmbn-daemon firmware_file:lnk_file read;
allow mmbn-daemon vfat:dir search;
allow mmbn-daemon vfat:file { open read };

#============= per_mgr ==============
allow per_mgr self:capability net_raw;

#============= platform_app ==============
allow platform_app exported_camera_prop:file read;

#============= qti_init_shell ==============
allow qti_init_shell proc_swaps:file { getattr open read };
allow qti_init_shell vendor_file:file entrypoint;

#============= rfs_access ==============
allow rfs_access mnt_vendor_file:dir search;
allow rfs_access persist_file:lnk_file read;
allow rfs_access self:capability net_raw;

#============= rild ==============
allow rild self:capability { dac_override dac_read_search fowner sys_module };
allow rild deviceid_prop:file { getattr open read };
allow rild deviceid_prop:property_service set;
allow rild system_prop:property_service set;

#============= system_server ==============
allow system_server exported_camera_prop:file { read open getattr };
allow system_server init:binder call;
allow system_server userspace_reboot_exported_prop:file read;
allow system_server iio_device:chr_file { read ioctl open };
allow system_server mnt_vendor_file:dir search;
allow system_server persist_file:file write;
allow system_server userspace_reboot_config_prop:file { getattr open read };
allow system_server userspace_reboot_exported_prop:file { getattr open };

#============= tee ==============
allow tee vfat:dir search;
allow tee vfat:file { getattr open read };

#============= ueventd ==============
allow ueventd vfat:dir search;
allow ueventd vfat:file { getattr open read };
allow ueventd metadata_file:dir search;

#============= vendor_init ==============
allow vendor_init persist_file:lnk_file read;
allow vendor_init proc:file write;
allow vendor_init radio_data_file:file { open setattr write };
allow vendor_init bluetooth_data_file:file setattr;

#============= vold ==============
allow vold sysfs_mmc_host:file write;

#============= zygote ==============
allow zygote bluetooth_prop:file { read getattr open };
allow zygote proc:file { read open };

